# Exemple de configuration pour la base de données PostgreSQL
# Copiez ce fichier en .env et remplacez les valeurs par vos informations de connexion

# Connect to Supabase via connection pooling
DATABASE_URL="postgresql://postgres.rcedgxamsvkpmsgrvveg:F@deilou2002@aws-0-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.rcedgxamsvkpmsgrvveg:F@deilou2002@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"

# Secret pour les sessions Iron Session (à remplacer par une valeur unique)
JWT_SECRET="votre-secret-tres-securise-d-au-moins-32-caracteres"

# Informations d'administrateur (à mettre à jour avec des valeurs sécurisées)
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="changez-moi-pour-un-mot-de-passe-securise"

# Pour mettre à jour le mot de passe admin lors du déploiement ou de l'initialisation
# UPDATE_ADMIN_PASSWORD="true"
